.form-group{
    display: inline-block;
	min-width: 10px;
}
form{
    padding-left: 10px;
}

header{
    padding-left:10px;
}
header span{
    align: right;
}
header i{
    font-size: 200%;
    margin-top: -30px;
}
footer{
    border-top: black 1px solid;
    padding-left:10px;
    
    
}

nav{
    margin-bottom: 10px;
    
}
